.Card{
	display: flex;
	flex-flow:column;
	justify-content: center;
	align-items:baseline;
	border: 2px solid grey;
	box-shadow:5px 10px 15px #ccc;
	border-radius:5px;
	box-sizing: border-box; 
	background-color: rgb(252, 252, 252);
	width: 200px;
	height: 350px;
	margin: 20px;
	padding:5px;
	/* box-sizing:border-box; */

}

.CardImg{
	width: 100%;
	height: auto;
	border-radius: inherit;
}


.Button{
	text-align: center;
	box-sizing: border-box;

}

.CartImg{
	width: 20px;
	height: 20px; 
	text-align: right;
}

.ClickedCard{
	display: flex;
	flex-flow:row;
	justify-content: space-around;
	align-items:flex-start;
	border: 2px solid grey;
	box-shadow:5px 10px 15px #ccc;
	border-radius:5px;
	box-sizing: border-box; 
	background-color:rgb(252, 252, 252);
	width: auto;
	height: auto;
	margin: 10px;
	padding:20px;
}

.ClickedCardImg{
	width:100%;
	height: auto;
	transition: 0.5s;
}

.ClickedCardImg:active{
	width:200%;
	height:auto;

	transition: 0.5s;
}


.CardDescription{
	display: flex;
	flex-flow:column;
	justify-content: flex-start;
	align-items:center;
	width:100%;
	/* margin: 0 50px;
	line-height: 0.5; */
}

.cardSpecification{
text-align: left;
}

@media screen and (max-width: 1000px) {
  .ClickedCard {
    flex-flow:column;
  }
}